:root {
  --azul-oscuro: #0C1A57;
  --azul-medio: #426CC2;
  --azul-claro: #EAF4FF;
  --fondo-claro: #F8F5EE;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a.nav-link.active {
  background-color: var(--fondo-claro) !important;
   border-bottom: solid 1px var(--fondo-claro) !important; 
}

#contenido {
  height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: var(--fondo-claro);
}

.tabs-container {
  display: flex;
  gap: 6px;
  padding: 3px;
  background-color: #e1e1e1;
  border-radius: 8px;
  max-width: 600px;
  margin-top: 32px;
  margin-left: 32px;
}

.tab-btn {
  flex: 1; 
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  border-radius: 8px; 
}

.tab-btn.active {
  background-color: white;
}

.tabs-content {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 32px;
  margin-top: 20px;
}

.contenido-tab {
  display: none;
  animation: slide-fade 0.4s ease;
}

.contenido-tab.active {
  display: block;
}

@keyframes slide-fade {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}